.Contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    font-family: cursive;
    .Form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 400px;
        input, textarea {
            padding: 10px;
            border-radius: 10px;
            background: #283618;
            border: none;
            margin: 10px;
            color: #fefae0;
            font-size: 18px;
            width: 100%;
            &:focus {
                outline: none;
            }
        }
        textarea {
            height: 70px;
            overflow: hidden;
            resize: none;
        }
        .submitted {
            color: #CCCC66;
            text-align: center;
        }
        .errorSpan {
            color: #ED2F32;
        }
        input::placeholder, textarea::placeholder{
            color: #fefae0;
            font-size: 18px;
            font-family: cursive;
        }
        .formControl:nth-last-child(1) {
            text-align: left;
        }
        .btnSubmit {
            width: 50%;
            cursor: pointer;
            &:hover {
                box-shadow: 0 0 10px #283618;
            }
            &:active {
                border-radius: 5px;
                box-shadow: 0 0 15px #283618;
            }
        }
        h3 {
            text-align: left;
        }
        h4{

        }
    }
    .Info {
        display: flex;
        flex-direction: column;
        h1 {
            align-self: flex-start;
            &:nth-last-child(2) {
                margin-top: 50px;
            }
        }
        i {
            font-size: 30px;
            margin: 10px;
            cursor: pointer;
            &:hover {
                transition: 0.5s;
                color: rgba(255, 255, 255, 0.667);
            }
        }
    }
}